# Python cache & build
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment file
.env

# VSCode local settings
.vscode/

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files (opsional tapi bagus)
*.log

# Backup or temp files
*.bak
*.tmp
